;roles :regular :admin :anonymous
[{:auth true
           :errors {}
           :nav {:active-page :home}
           :user {:id "batman"
                  :firstname "bruce"
                  :lastname "wayne"
                  :roles #{:admin}
                  :password "namtab"}
           :items #{{:id "ART" :name "Art Tournament" :events []}}}

 {:auth true
           :errors {}
           :nav {:active-page :home}
           :user {:id "joker"
                  :firstname "jack"
                  :lastname "napier"
                  :roles #{:anonymous}
                  :password "rekoj"}
           :items #{{:id "PUZZLES" :name "1000 piece Puzzles" :events []}}}

 {:auth false
           :errors {:id "9001" :message "confused user"}
           :nav {:active-page :home}
           :user {:id "penguin"
                  :firstname "oscar"
                  :lastname "cobblepot"
                  :roles #{:regular}
                  :password "niugnep"}
           :items #{{:id "UMBRELLAS" :name "Umbrella decoration" :events []}}}]
